body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.min_width{
	max-width: 330px;
}

#sing_in_window {
	display: flex;
	display: -ms-flexbox;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}

@media (min-width: 1200px)
{

}

svg {
background-color:none;
}

.pig_body, .pig_ear{
fill: none;
stroke-width: 10;
stroke: black;
}

.pig_nose{
fill: none;
stroke-width: 10;
stroke: black;
}

.pig_detail{
stroke: black;
stroke-width: 10;
fill: black;}

.pig_leg{
fill: none;
stroke-width: 10;
stroke: black;}
