body{
	background-color: white;
	color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.without_border{
border-style: none !important;}

.myColor{
	background-color: #9400D3 !important;
color: white !important;}

.min_width{
	max-width: 330px;
}

.form_window {
	-ms-flex-align: center;
	align-items: center;
	padding-top: 80px;
}

.separator{
	min-height:5px;
border-bottom: 1px ridge black;}

.form-signin {
	width: 100%;
	max-width: 500px;
	padding: 15px;
}

.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 14px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.my_btn{
	max-width: 320px;
}

#register_btn{
	background-color: red !important;
	max-width: 250px;
	border: 1px solid yellow;
}

.pig_body, .pig_ear{
	fill: none;
	stroke-width: 20;
	stroke: currentColor;
}

.pig_nose{
	fill: none;
	stroke-width: 20;
	stroke: currentColor;
}

.pig_detail{
	stroke: currentColor;
	stroke-width: 20;
fill: currentColor;}

.pig_leg{
	fill: none;
	stroke-width: 20;
	stroke: currentColor;
}

.minCardHeight{
	min-height: 120px;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

@media (min-width: 1200px)
{
	
}
